# Web App Framework
streamlit

# Data Handling
pandas
numpy

# Data Sources / APIs
pandas_datareader
requests
yfinance

# Machine Learning / Deep Learning
tensorflow-cpu
keras
scikit-learn
h5py

# Visualization
matplotlib
plotly
seaborn

# Notebook Support (optional, for experiments)
jupyter

